/* 
    Name: Avery Kuboth
    Description: WEBD-2013 Project - Celestial Handbook
    Date: 2023 November 4th
    Updated: 2023 November 25th
*/

@font-face 
{
    font-family: lato_main;
    src: url(fonts/lato/Lato-Medium.ttf);
    /* font src: https://www.latofonts.com */
}

body, p, a, b, h1, h2, h3, h4, ol, ul, li, div, nav, header, main, section, footer, form, label, input, img
{
    padding: 0;
    margin: 0;
    color: white;
    font-size: medium;
    font-style: normal;
    font-family: lato_main;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family:Arial, Helvetica, sans-serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 500;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: auto;
    min-width: min-content;
    max-width: 1000px;

    background-color: black;
}
main
{
    width: 100%;
}
main h2
{
    font-size: 36px;
    margin-bottom: 12px;
}
main h3
{
    font-size: 28px;
    margin-bottom: 9px;
}
footer
{
    padding: 20px;
    margin-top: 30px;
}
input, textarea
{
    font-family: lato_main;
    color: white;
    background-color: black;
    border: white solid 1px;
    border-style: inset;
    text-align: center;
}
input[type="submit"]
{
    padding:8px;
    border-radius: 6px;
}
b
{
    font-weight: bold;
}
a:hover, a b:hover
{
    color:lightblue;
}





/* HEADER */
header 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 99%;
    margin-top: 25px;
    margin-bottom: 30px;
}
header h1 a
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
nav
{
    width: 100%;
    min-height: 50px;
}
nav ul
{
    height: 100%;
    display: flex;
    flex-direction: row;
    border: white solid 1px;
    border-radius: 10px;
}
nav li
{
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-right: white solid 1px;
}
nav li:last-of-type
{
    border:none;
}
nav li:hover
{
    background-color: rgb(70,70,70);
}
form#search_bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}
input#search_query
{
    margin-right: 10px;
    padding:5px;
    border-radius: 10px;
    font-size: smaller;
}
input#search_submit
{
    padding: 5px;
    border-radius: 10px;
    font-size: smaller;
}





/* LOGIN MODULE*/
div#login_module
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    padding-bottom: 10px;
}
form#loginModule_loggedIn
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
form#loginModule_loggedIn input
{
    margin-top: 5px;
    margin-left: 15px;
}
form#loginModule_loggedOut
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 10px;
    border: white solid 1px;
    width: 150%
}
form#loginModule_loggedOut p:last-of-type
{
    font-weight: bold;
    margin: 10px;
    margin-top: 10px;
}
.login_error
{
    font-weight: bold;
    background-color: darkred;
    text-align: center;
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
}
.login_success
{
    font-weight: bold;
    background-color: darkgreen;
    text-align: center;
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
}





/* CELESTIAL OBJECT */
main#celestial_object
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    width: 100%;
}
main#celestial_object h2
{
    font-size: 50px;
}
main#celestial_object h3
{
    font-size: 25px;
}
main#celestial_object b
{
    font-weight: bold;
}
main#celestial_object table
{
    width: 100%;
    max-width: 360px;
}
main#celestial_object th
{
    text-align: left;
}
main#celestial_object td
{
    text-align: right;
}
div#object_categories
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;  
    flex-wrap: wrap;
}
.category
{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    margin: 10px;
    padding: 8px;
    border-radius: 15px;
    background-color: lightblue;
    color: black;
    font-weight: bold;
}
.category select
{
    background-color: lightblue;
    font-weight: bold;
    border: none;
    text-align: center;

}
#add_category
{
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    height: 25px;
    width: 45px;
    line-height: 50%;
    font-weight: bold;
    color: black;
    border-radius: 12px;
    background-color: green;
    border: black solid 2px;
}
input.remove_category
{
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    height: 25px;
    width: 25px;
    line-height: 50%;
    font-weight: bold;
    color: black;
    border-radius: 50%;
    background-color: red;
    border: black solid 2px;
}
p#object_description
{
    width: 70%;
}
#modify_post_buttons :first-child
{
    background-color: darkslategray;
    color: rgb(220,220,220);
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    margin-right: 20px;
}
#modify_post_buttons :last-child
{
    background-color: darkred;
    color: rgb(220,220,220);
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    margin-left: 20px;
}





/* QUESTION MODULE */
div#question_module
{
    padding: 10px;
    width:100%;
}
div#question_module section
{
    border: white solid 1px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}
.new_question form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}
.new_question textarea
{
    width: 80%;
    height: 40px;
    margin: 10px;
    padding:10px;

    text-align:center;
}
.question_header
{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 95%;
    justify-content: space-between;
    padding-bottom: 25px;
}
div#question_module p
{
    font-size: small;
    padding-bottom: 5px;
}
div#question_module h2
{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 25px;
}
div#question_module h3
{
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
}
.object_question form input:last-of-type
{
    margin-left: 10px;
}
.answering_question form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.answering_question textarea
{
    width: 80%;
    height: 40px;
    margin: 10px;
    padding:10px;

    text-align:center;
}
.question_error
{
    font-weight: bold;
    background-color: darkred;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 5px;
    margin-bottom: 5px;
}





/* INDEX / ALL OBJECTS LIST */
ul#main_list
{
    margin: auto;
    margin-bottom: 50px;
    width: 70%;
}
ul#main_list li
{
    padding: 8px;
    border: white solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}
ul#main_list li:hover
{
    background-color: rgb(70,70,70);
}
ul#sub_list
{
    margin: auto;
    margin-bottom: 50px;
    width: 60%;
}
ul#sub_list li
{
    padding: 6px;
    border: white solid 1px;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}
ul#sub_list li:hover
{
    background-color: rgb(70,70,70);
}
li#new_object_li
{
    background-color: darkslategrey;
}
li#edit_category_li
{
    background-color: darkslategrey;
}
li#delete_category_li
{
    background-color: darkred;
}





/* ADMIN - MANAGE / NEW USERS */
div#admin_panel
{
    width: 100%;
    margin-top:20px;
}
div#admin_panel table
{
    margin: auto;
    margin-top: 20px;
    width: 80%;
    border: white solid 1px;
}
div#admin_panel td
{
    padding: 5px;
    border-bottom: rgb(70,70,70) solid 1px;
    word-wrap: break-word;
}
div#admin_panel tr:first-of-type
{
    background-color: rgb(70,70,70);
}
div#admin_panel tr:first-of-type th:first-of-type, th:nth-of-type(2)
{
    background-color: black;
}
div#admin_panel tr td:first-of-type, td:nth-of-type(2)
{
    width: 0;
}
div#admin_panel tr:last-of-type td
{
    border-bottom: none;
}
div#admin_panel h2
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
div#admin_panel form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: auto;
    width: 60%;
    padding: 20px;
    border: white solid 1px;
}
div#admin_panel form input[type="password"], input[type="text"], input[type="email"]
{
    width: 80%;
}
.edit_user_error
{
    width:100%;
    background-color: darkred;
    color: black;
    font-weight: bold;
}





/* MODIFY OBJECT PAGE */
main#modify
{
    width: 80%;
    margin-top: 50px;
}
main#modify form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
main#modify form input, select, textarea
{
    /* margin-bottom: 15px; */
    width: 70%;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}
main#modify form textarea
{
    width: 100%;
    height: 100px;
}
main#modify form select
{
    background-color: black;
    color: white;
    border: white solid 1px;
    margin-bottom: 15px;
}
main#modify form input#update
{
    width: 30%;
}
input[type="file"], input[type="checkbox"]
{
    margin-bottom: 25px;
}





/* SORTED OBJECT PAGE */
table#sorted_object_table
{
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
    border: white solid 1px;
}
table#sorted_object_table th
{
    padding: 5px;
    background-color: rgb(70,70,70);
}
table#sorted_object_table th a
{
    font-weight: bold;
}
table#sorted_object_table td
{
    padding: 5px;
    border-bottom: rgb(70,70,70) solid 1px;
    /* text-wrap: nowrap; */
}
table#sorted_object_table tr:last-of-type td
{
    border-bottom: none;
}
